html, body {
	height: 100%;
}

.parent-panel {
	background: #696969; 
	display: table; 
	width: 100%; 
	height: 100%; 
	border-collapse: collapse;
}

.child-panel {
	background: rgb(155, 155, 155); 
	display: table-cell; 
	width: 50%; 
	padding: 10px; 
	height: 100%;
}

.title {
	text-align: center;
}

.separator {
	background:rgb(255, 255, 255);
	width:2px;
	height:0px;
}

.child-panel > .form-group {
	height: 50%;
}

.form-group > .form-control {
	background:#202020; 
	color: rgb(28, 209, 82); 
	height: 100%;
}

.btn.btn-outline-secondary {
	background: #e0e0e0;
	color: rgb(15, 15, 15);
}

.input-group > .form-control {
	color: rgb(15, 15, 15);
}

.custom-select {
	color: rgb(15, 15, 15);
}

.btn.btn-dark.btn-sm {
	margin-top: 10px;
	margin-left:auto;
	margin-right: 0px; 
	display: block;
}